body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    gap: 0px;
}

header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    padding-top: 16px;
padding-bottom: 64px;
    margin-left: 0px;
    margin-right: 0px;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 32px;
}

.Hcontainer{
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
}

#img{
    background-color: grey;
    min-width: 400px;
}

#button1{
    background-color: blue;
    max-width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    gap: 16px;
}

li{
    list-style-type: none;
}

a{
    color: #f9faf8;
    text-decoration: none;
}